*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    background: rgb(0, 0, 92);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav .menu a{
    padding: 2rem 0.7rem;
}
nav .menu a:hover{
    background: rgb(0, 153, 255);
}
nav .search{
    transition: 0.15s ease-in-out;
}
nav .search:hover{
    transform: scale(1.05);
}
.hero{
    height: 85vh;
}
.hero .carousel{
    height: 100%;
}
.hero .carousel-inner{
    height: 100%;
}
.hero .carousel-item{
    width: 100%;
}
.hero img{
    height: 100%;
    width: 100% ;
    object-fit: contain ;
}
.hero .carousel-indicators{
    margin: ;
    justify-content: end;
    float: right;
}
.hero .carousel-indicators button {
    height: 6px;
    border: 1px solid black;
    border-radius: 5rem;
    width: 30px;
}
.hero .carousel-indicators button.active {
    width: 6 0px;
}
.after-hero{
height: 10rem;
}
.after-hero h5{
    font-size: 2rem;
    font-weight: 800;
}
.after-hero a{
    font-size: 1.2rem;
    font-weight: 700;
}
.after-hero div{
    z-index: 10;
}
.after-hero select{
    background: none;
    color: white;
}
.after-hero select option{
    background: none;
    color: rgb(61, 61, 61);
}
.after-hero img{
    background: rgba(216, 4, 4, 0.747);
    height: 10rem;
    width: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
}
.categories{
    padding: 4rem 3.5rem;
}
.projects{}
.projects h5{
    font-weight: 800;
    font-size: 2rem;
    color: rgb(45, 0, 129);
}
.proj-item{
    max-width: 13rem;
    padding: 1rem;
    z-index: 10;
    background: white;
    margin: 2rem 0;
    border-radius: 1rem;
}
.proj-item img{
    width: 100%;
    border-radius: 1rem;
}
.proj-item .btn{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.proj-item-container{
    padding: 2rem 0;
}
.proj-item-container>img{
    background: rgb(0, 174, 218);
    height: 60%;
    width: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
}
.discover h5{
    font-weight: 800;
    font-size: 2rem;
    color: rgb(45, 0, 129);
}
.discover .proj-item{
    border: 1px solid rgb(172, 172, 172);
    margin-right: 1rem;
}

.news h5{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(3, 130, 241);
}
a.news-item{
    max-width: 18rem;
    height: 18rem;
    display: inline-block
}
.news-item img{
    max-width: 18rem;
    height: 18rem;
    object-fit: ;
    position: absolute;
    left: ;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
a.news-item div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    height: 18rem;
}
.news-item div{
    width: 100%;
    padding: 0 0.5rem;
}
a.news-item div h6{
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
}
a.news-item div p{
    color: white;
    font-weight: 600;
}
.news-container{
    padding: 3rem 0;
}

.vol{
    padding: 4rem 0;
}
.vol h5{
    font-size: 2.2rem;
    padding: 3rem 0;
    font-weight: 700;
    color: rgb(255, 86, 86);
}
.vol .vol-1{
    background: linear-gradient(rgba(0, 0, 105, 0.8), rgba(0, 0, 105, 0.8)), url('images/vol1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.vol .vol-2 img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.well-right img{
    height: 25rem;
    width: 25rem;
}
.well h6{
    font-size: 2.5rem;
}

.support{
    padding: 3rem 0;
}
.support h5{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 153, 255);
    padding: 3rem 0
}
.support-item{
    background: ;
    width: 18rem;
    padding: 0 3rem;

}
.support-item h6{
    color: rgb(0, 0, 90);
    font-size: 1.5rem;
    font-weight: 700;

}
.support-item p{
    color: rgb(0, 0, 90);
    font-weight: 700;
}
.blog{
    padding: 2rem 0;
    margin-right: 6rem;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}
.blog h6{
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}
.blog ul{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
.blog-right img{
    width: 100%;
    height: auto;
}
.blog .im1{
    position: absolute;
    left: ;
    margin: -5rem 0 0 30rem;
}
.blog .im2{
    position: absolute;
    right: ;
    bottom: ;
    margin: -30rem 15rem 15rem 0;
}
.newsletter{
    padding: 5rem 0;
    background: rgb(0, 140, 255);
}
.newsletter h6{
    padding-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}
.newsletter input{
    padding: 1rem 2rem;
}
footer{
    background: rgb(0, 0, 92);
    color: white;
}
footer h5{
    color: rgb(0, 174, 255);
}
footer i{
    color: white;
    font-size: 1.5rem;
    background: rgb(0, 174, 255);
    border-radius: 5rem;
}